body {
  background: linear-gradient(to right, #ff0000, #f6ff00); /* rojo a azul */
}
.cabecera img{
  margin-top: 10px;
  width: 250px;;
}

.cabecera{
  display: flex;
  justify-content: center;
}

.conecta-logo{
  
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));

  transition: filter 1s;

    -webkit-user-drag: none;
}

.conecta-logo:hover{
  filter: drop-shadow(4px 4px 8px rgba(255, 255, 255, 0.5));
}

.contenedor-lienzo{
  justify-items: center;
}

.lienzo{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  width: 700px;
  height: 600px;
  background-color: rgb(26, 110, 213);
  border-style: solid;
  border-color: rgb(33, 33, 116);
  box-shadow: 1px 5px 10px 0.5px;
  border-radius: 5px;

  transition: box-shadow 1s;
}

.x{
  display: flex;
  border-style: solid;
  border-color: rgba(38, 38, 129, 0);
  border-width: 1px;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ;
}

.b{
  box-shadow: 1px 1px 5px 0.5px;
  border-style: solid;
  transition: box-shadow 0.1s;
  z-index: 1;
}

.b:hover{
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.901);
}

.x button{
  width: 80px; 
  height: 80px;
  border-radius: 40px; 
  border-style:solid;
  border-width: 3px;
  border-color:rgba(0, 0, 6, 0.515);
  cursor: pointer;
  transition: background-color 0.5s box-shadow 0.5s;
}

.button-clicked-red{
  background-color: red;
}

.button-clicked-yellow{
  background-color: yellow;
}

.cuatro-en-linea{
  background-color: rgb(18, 226, 18);
  box-shadow: 0px 0px 20px rgba(0, 255, 0, 0.556);
}

.victoria-roja{
  width: 300px;
  height: 300px;
  object-fit: cover;
  position: absolute;
  left: 240px;
  top: 460px;
  
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 0;
  pointer-events: none;
  -webkit-user-drag: none;
}

.victoria-amarilla{
  width: 300px;
  height: 300px;
  object-fit: cover;
  position: absolute;
  right: 240px;
  top: 457px;
  
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 0;
  pointer-events: none;
  -webkit-user-drag: none;
}

.empate-rojo{
  width: 300px;
  height: 300px;
  object-fit: cover;
  position: absolute;
  left: 255px;
  top: 465px;
  
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 0;
  pointer-events: none;
  -webkit-user-drag: none;
}


.empate-amarillo{
  width: 300px;
  height: 300px;
  object-fit: cover;
  position: absolute;
  right: 250px;
  top: 460px;
  
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 0;
  pointer-events: none;
  -webkit-user-drag: none;
}

.reset-game-container{
  display: flex;
  flex: 1;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.reset-img{
  background-color:white;
  width: 40px;
  padding: 10px;
  border-radius: 60px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  box-shadow: 1px 5px 10px 0.5px;
  transition: box-shadow 0.5s;

  -webkit-user-drag: none;
}

.reset-img:hover{
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.901);

}

